.top-header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 100;
    background-color: white;
}

.tooltip{
    position: absolute;
    background-color: rgb(101, 101, 101);
    color: white;
    padding: 9px 7px;
    font-size: 12px;
    border-radius: 3px;
    bottom: -50px;
    pointer-events: none;
    white-space: nowrap;
    opacity: 0;
    z-index: 100;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.notifications-button:hover .tooltip{
    opacity: 1;
}